{% extends "base1.html" %}
{% block carousel %}
{% endblock %}
{% block content %}
<section class="vh-100" style="background-color: #212529;">
    <div class="container py-5 h-100">
      <div class="row d-flex justify-content-center align-items-center h-100">
        <div class="col-12 col-md-8 col-lg-6 col-xl-5">
          <div class="card shadow-2-strong" style="border-radius: 1rem;">
            <div class="card-body p-5 text-center">
  
              <h3 class="mb-5">Sign in</h3>
              {% csrf_token %}
              

  
              <form class="mx-1 mx-md-4" action="registartion" method="post">
                {% for field in form %}
                <div class="d-flex flex-row align-items-center mb-4">
                  <div class="form-outline flex-fill mb-0">
                    <p>{{ field.label }}: <br> {{ field }}</p>
                    {% for error in field.errors %}
                    <small style="color: red">{{ error }}</small>
                {% endfor %}
                  </div>
                </div>
                {% endfor %}
                <div class="form-check d-flex justify-content-center mb-5">
                  <input class="form-check-input me-2" type="checkbox" value="" id="form2Example3c" />
                  <label class="form-check-label" for="form2Example3">
                    I agree all statements in <a href="#!">Terms of service</a>
                  </label>
                </div>
                <div class="d-flex justify-content-center mx-4 mb-3 mb-lg-4">
                  <button type="submit" class="btn btn-outline-dark btn-lg">Register</button>
                </div>
              </form>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
  {% endblock %}