<!doctype html>
{% load static %}
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link
    href="https://fonts.googleapis.com/css2?family=Crimson+Text:ital,wght@0,400;0,600;0,700;1,400;1,600&display=swap"
    rel="stylesheet">
  <link rel="stylesheet" href="{% static 'css/style.css' %}">
  <script src="https://kit.fontawesome.com/98e348adda.js" crossorigin="anonymous"></script>
</head>
<body>
{% block navbar %}
  <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <div class="container-fluid">
      <a class="navbar-brand" href="#">E-SHOP</a>

      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
        aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0 top-menu">
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" href="{% url 'home' %}">Home</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">News</a>
          </li>
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown"
              aria-expanded="false">
              Category
            </a>
            <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
              {% for c in cats %}
              <li><a class="dropdown-item" href="{{ c.get_absolute_url }} ">{{ c.title }}</a></li>
              {% endfor %}
              <li>
                <hr class="dropdown-divider">
              </li>
              <li><a class="dropdown-item" href="#">Something else here</a></li>
            </ul>
          </li>
        </ul>
        <ul class="navbar-nav ms-auto mb-2 mb-lg-0">
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown"
              aria-expanded="false">
              <i class="fa-solid fa-user"></i>
            </a>

            <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
              <li><a class="dropdown-item" href="{% url 'register' %}">Registration</a></li>
              <li><a class="dropdown-item" href="{% url 'login' %}">Login</a></li>
              <li><a class="dropdown-item" href="{% url 'logout' %}">Logout </a></li>
            </ul>
          </li>

          <li class="nav-item">
            <a class="nav-link" href="#" data-bs-toggle="modal" data-bs-target="#modal-cart">
              <i class="fa-solid fa-cart-shopping"></i>
            </a>
          </li>
          <!-- Modal -->
          <div class="modal fade" id="modal-cart" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
            <div class="modal-dialog modal-xl">
              <div class="modal-content">
                <div class="modal-header bg-secondary text-white">
                  <h5 class="modal-title" id="exampleModalLabel">Cart</h5>
                  <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                  <div>
                    {% with total_item=cart|length %}
                    {% if cart|length > 0 %}
                    <a href="{% url 'cart:cart_detail'%}">{{ cart.cou }} шт. 
                      Обшая стоимость: {{ cart.get_total_price }} Сом</a>
                    {% else %}
                      Корзинка пуста
                    {% endif %}
                    {% endwith %}
                  </div>
                </div>
                <div class="modal-footer">
                  <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                </div>
              </div>
            </div>
          </div>
          <div>
            <form class="d-flex" method="POST" action="{% url 'search' %}"> {% csrf_token %}
              <input class="form-control me-2" type="search" placeholder="Search" name="searched" id="searched" aria-label="Search">
              <button href="{% url 'search' %}" class="btn btn-outline-secondary" type="submit">Search</button>
            </form>
          </div>
      </div>
    </div>
  </nav>
{% endblock %}

{% block auten %}
<div class="navbar-nav ms-auto mb-2 mb-lg-0">
  {% if user.is_authenticated %}
  <h1 class="h12">Hi {{ user.username }}!</h1>
  <style>
    .h12 {
        text-align: center;
    }
  </style>
  <div class="d-grid gap-2">
    <a class="btn btn-outline-secondary btn-lg" href="{% url 'logout' %}" role="button">Log Out</a>
  </div>
{% else %}
<p class="p12">You are not logged in</p>
<style>
  .p12 {
      text-align: center;
  }
</style>

  <div class="d-grid gap-2">
    <a class="btn btn-outline-secondary btn-lg" href="{% url 'login' %}" role="button">Log In</a>
  </div>
</div> 
{% endif %}
{% endblock %}

{% block carousel %}
  <div class="container-fluid my-carousel">
    <div id="carouselExampleIndicators" class="carousel slide" data-bs-ride="carousel" data-bs-interval="5000">
      <div class="carousel-indicators">
        <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="0" class="active"
          aria-current="true" aria-label="Slide 1"></button>
        <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="1"
          aria-label="Slide 2"></button>
        <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="2"
          aria-label="Slide 3"></button>
      </div>
      <div class="carousel-inner">
        <div class="carousel-item active">
          <img src="wallpaperflare.com_wallpaper.jpg" class="d-block w-100 rounded" alt="...">
        </div>
        <div class="carousel-item">
          <img src="..." class="d-block w-100" alt="Two">
        </div>
        <div class="carousel-item">
        </div>
      </div>
      <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleIndicators"
        data-bs-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Previous</span>
      </button>
      <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleIndicators"
        data-bs-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Next</span>
      </button>
    </div>
  </div>
{% endblock %}



{% block content %}
  <section class="main-content">
    <div class="container">
      <div class="row">
        <div class="col-lg-4 col-sm-6 mb-3">
          <div class="product-card">
            <div class="product-thumb">
              <a href="#"><img src="" alt="Image"></a>
            </div>
            <div class="product-details">
              <h4><a href="#">Product name</a></h4>
              <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Reiciendis voluptatibus numquam ullam
                molestiae. Perferendis illum sunt tempora molestias cum iusto atque necessitatibus vero cumque. Iusto
                sequi animi quasi facilis inventore?</p>
              <div class="product-bottom-details d-flex justify-content-between">
                <div class="product-price">
                  <small>$23.3</small> $99
                </div>
                <div class="product-links">
                  <a href="#"><i class="fa-regular fa-heart"></i></a>
                </div>
              </div>
            </div>
          </div>
        </div>

        <div class="col-lg-4 col-sm-6 mb-3">
          <div class="product-card">
            <div class="product-thumb">
              <a href="#"><img src="" alt="Image"></a>
            </div>
            <div class="product-details">
              <h4><a href="#">Product name</a></h4>
              <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Reiciendis voluptatibus numquam ullam
                molestiae. Perferendis illum sunt tempora molestias cum iusto atque necessitatibus vero cumque. Iusto
                sequi animi quasi facilis inventore?</p>
              <div class="product-bottom-details d-flex justify-content-between">
                <div class="product-price">
                  <small>$23.3</small> $99
                </div>
                <div class="product-links">
                  <a href="#"><i class="fa-regular fa-heart"></i></a>
                  <a href="#"><i class="fa-solid fa-cart-shopping"></i></a>
                </div>
              </div>
            </div>
          </div>
        </div>

        <div class="col-lg-4 col-sm-6 mb-3">
          <div class="product-card">
            <div class="product-thumb">
              <a href="#"><img src="" alt="Image"></a>
            </div>
            <div class="product-details">
              <h4><a href="#">Product name</a></h4>
              <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Reiciendis voluptatibus numquam ullam
                molestiae. Perferendis illum sunt tempora molestias cum iusto atque necessitatibus vero cumque. Iusto
                sequi animi quasi facilis inventore?</p>
              <div class="product-bottom-details d-flex justify-content-between">
                <div class="product-price">
                  <small>$23.3</small> $99
                </div>
                <div class="product-links">
                  <a href="#"><i class="fa-regular fa-heart"></i></a>
                  <a href="#"><i class="fa-solid fa-cart-shopping"></i></a>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
{% endblock %}

{% block footer %}
  <footer>
    <section class="footer">
      <div class="container">
        <div class="row">
          <div class="col-md-3 col-6">
            <h4>Information</h4>
            <ul class="list-unstyled">
              <li><a href="#">Main</a></li>
              <li><a href="{% url 'about'%}">About</a></li>
              <li><a href="#">Pay</a></li>
              <li><a href="{% url 'contact'%}">Contact</a></li>
            </ul>
          </div>

            <div class="col-md-3 col-6">
              <h4>Working time</h4>
              <ul class="list-unstyled">
                <li><a href="#">Address</a></li>
                <li><a href="#">MD-ST: 9:00 - 23:00</a></li>
                <li><a href="#">24/7</a></li>
              </ul>
            </div>

              <div class="col-md-3 col-6">
                <h4>Contact</h4>
                <ul class="list-unstyled">
                  <li><a href="tel:5551234567">555 123-45-67</a></li>
                  <li><a href="#">555 123-45-68</a></li>
                </ul>
              </div>

                <div class="col-md-3 col-6">
                  <h4>Social</h4>
                  <div class="footer-icons">
                    <a href="#"><i class="fa-brands fa-facebook"></i></a>
                    <a href="#"><i class="fa-brands fa-instagram"></i></a>
                    <a href="#"><i class="fa-brands fa-twitter"></i></a>
                  </div>
                </div>
        </div>
      </div>
    </section>
  </footer>
{% endblock %}
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"
    integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM"
    crossorigin="anonymous"></script>



  <!-- Option 2: Separate Popper and Bootstrap JS -->
  <!--
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.2/dist/umd/popper.min.js" integrity="sha384-IQsoLXl5PILFhosVNubq5LC7Qb9DXgDA9i+tQ8Zj3iwWAwPtgFTxbJ8NT4GN1R8p" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.min.js" integrity="sha384-cVKIPhGWiC2Al4u+LWgxfKTRIcfu0JTxR+EQDz/bgldoEyl4H0zUF0QKbrJ0EcQF" crossorigin="anonymous"></script>
    -->
</body>
</html>